*{
    margin: 0;
    padding: 0;
    position: relative;
}
.navbar{
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-size: 1.5rem;
    z-index: 2;
}
.navbar>a{
    text-decoration: none;
    color: black;
}
.navbar>a>h1>span{
    color: red;
}
.navbar>a>button{
    background-color: rgba(244, 54, 54, 0.826);
    padding: 5px;
    border-radius: 2px;
    border: solid 1px;
}
.background{
    width: 100%;
    overflow: hidden;
}
.bg{
    width: 100%;
    filter: opacity(1);
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.logo>img{
    width: 60%;
}
.logo>p{
    font-size: 25px;
    font-weight: 600;
}
.logo>p>span{
    color: red;
}
.welcome{
    text-align: center;
    padding: 100px 150px;
    margin: 0px 80px;
    line-height: 1.5rem;
    font-size: 40px;
}
.welcome>p{
    font-size: 20px;
    margin-top: 60px;
}
.welcome>div{
    font-size: 30px;
    margin-top: 40px;
}
.welcome>div>a{
    margin: 0px 5px;
    text-decoration: none;
    color: black;
}
.display{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 0px 20px;
    margin-top: 50px;
    width: 350px;
    height: 450px;
    border-radius: 4px;
}
.box img{
    transition: width 1s, filter 1s;
    filter: brightness(0.8);
    width: 70%;
    border-radius: 50%;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}
.viewmore{
    background-color: rgba(63, 206, 63, 0.543);
    padding: 5px;
    border: solid 1px;
    border-radius: 2px;
}
.details{
    margin: 180px 50px 50px;
}
.first{
    background-color: rgba(255, 218, 185, 0.628);
}
.second{
    background-color: rgba(184, 60, 60, 0.788);
}
.third{
    background-color: rgba(135, 206, 250, 0.831);
}
.box>img:hover{
    width: 75%;
    filter: brightness(1);
    transition: width 1s, filter 1s;
}
.coffee{
    background-color: rgba(160, 81, 45, 0.863);
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.cimg>img{  
    width: 100%;
}
.cdetails{
    padding: 0px 100px;
    font-size: 20px;
}
.video{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
.footer{
    margin-top: 100px;
    padding: 50px 80px;
    background-color: rgba(0, 128, 128, 0.795);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.content{
    font-size: 15px;
}
.content>p{
    padding: 0px 50px;
}
.logo1>img{
    width: 70%;
}
.logo1>p{
    font-size: 25px;
    font-weight: 600;
}
.logo1>p>span{
    color: red;
}
.gps{
    font-size: 14px;
}
.gps>iframe{
    border-radius: 4px;
}